:root {
    --color-primary: #fff;
    --color-secondary: #000;
    --color-tertiary: #5e4b8b;
    --color-quaternary: #aaa;
    --color-quinary: #eee;
    --color-senary: #f2f2f2;
    --color-septenary: #777;
}

.backgroundColor1 {
    background-color: var(--color-quinary);
}

.backgroundColor2 {
    background-color: var(--color-primary);
}

.backgroundColor3 {
    background-color: var(--color-senary);
}

.backgroundColor4 {
    background-color: var(--color-tertiary);
}

.color1 {
    color: var(--color-primary);
}

.color2 {
     color: var(--color-secondary);
}

.color3 {
    color: var(--color-tertiary);
}

.color4 {
    color: var(--color-quaternary);
}
